@model GameReviewApp.Models.GameDetailViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Game Details";
}

<div class="row detailBox">
    <div class=" col-md-4">
        <div class="row">
            <img src="@Html.DisplayFor(model => model.SelectedGame.Thumbnail)" width="128" height="128" alt="Thumbnail" />
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.SelectedGame.Name)
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.SelectedGame.Rating)/10
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <p class="detailLabel">Platform</p>
                @Html.DisplayFor(model => model.SelectedGame.Platform)
            </div>
            <div class="col-md-6">
                <p class="detailLabel">Release Date</p>
                @Html.DisplayFor(model => model.SelectedGame.Release)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="detailLabel">MSRP</p>
                $@Html.DisplayFor(model => model.SelectedGame.Price)
            </div>
            <div class="col-md-6">
                <p class="detailLabel">Publisher</p>
                @Html.DisplayFor(model => model.SelectedGame.Publisher)
            </div>
        </div>
        <div class="row">
            <p class="detailLabel">Purchase</p>
            @Html.DisplayFor(model => model.SelectedGame.BuyLink)
        </div>
    </div>
</div>

<div class="contentContainer sortBar">
    Sort By: @Html.ActionLink("High-to-Low", "Details", new { sortOrder = "RatingDesc" })
    @Html.ActionLink("Low-to-High", "Details", new { sortOrder = "RatingAsc" })
</div>


@foreach (var item in Model.SelectedGame.Reviews)
{
    <div class="row detailBox reviewBox">
        <div class="row reviewUsername">
            @item.ReviewerName
            <hr class="reviewBreak" />
        </div>
        <div class="row reviewText">
            @item.Content
        </div>
        <div class="row reviewNumber">
            <hr class="reviewBreak" />
            <p>@item.NumRating</p>
        </div>
    </div>

}
@{string name = User.Identity.GetUserName(); }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ReviewModel.Id, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.ReviewModel.ReviewerName, new { htmlAttributes = new { @Value = name, @class = "hidden" } })
    //Can probably remove
    //Model.ReviewModel.ReviewerName = name;

    @Html.HiddenFor(model => model.ReviewModel.GameId)





    <div class="form-horizontal row reviewBox detailBox" style="margin-bottom: 50px;">

        <div class="form-group row">
            @Html.TextAreaFor(model => model.ReviewModel.Content, new { htmlAttributes = new { @class = "reviewEditor" } })
            @Html.ValidationMessageFor(model => model.ReviewModel.Content, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            <div class="col-md-10">
                <div class="col-md-11" style="text-align: right;">
                    <p class="detailLabel">Rating</p>
                </div>
                <div class="col-md-1" style="padding: 0; margin: 0;">
                    @Html.EditorFor(model => model.ReviewModel.NumRating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReviewModel.NumRating, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2" style="padding: 0;">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

        @*<div class="form-group">

            </div>*@

    </div>






}






@*@Html.Partial("_CreateReviewPartial",Model.ReviewModel )*@



@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
