@model IEnumerable<GameReviewApp.Models.Game>
@{
    ViewBag.Title = "Game Index";
    Layout = "../Shared/_LayoutIndex.cshtml";
}

<div>
    @if (ViewBag.platformChoice == "" || ViewBag.platformChoice == null)
    {
        <p class="platformLabel">
            All Platforms
        </p>
    }
    else
    {
        <p class="platformLabel">
            @ViewBag.platformChoice
        </p>
    }
</div>


<div class="col-md-12 fullGameTable">

    <div class="row">
        <div class="col-sm-3 gameTable thumbHeader">

        </div>
        <div class="col-sm-7 gameTable nameHeader">
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Name).ToHtmlString(), "Index", new { sortOrder = "Name" }, new { @class = "bigSort" })<p  class="bigSort">&#8645</p>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Name).ToHtmlString(), "Index", new { sortOrder = "Name" }, new { @class = "smallSort" })<p  class="smallSort">&#8645</p>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Rating).ToHtmlString(), "Index", new { sortOrder = "Rating" }, new { @class = "smallSort" })<p  class="smallSort">&#8645</p>




            
        </div>
        <div class="col-sm-2 gameTable ratingHeader">
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Rating).ToHtmlString(), "Index", new { sortOrder = "Rating" }, new { @class = "bigSort" })<p  class="bigSort">&#8645</p>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-3 gameTable thumbCell">
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="128" height="128" alt="Thumbnail" />
            </div>
            <div class="col-sm-7 gameTable nameCell">
                @{
                    string name = item.Name;
                }
                @Html.ActionLink(name, "Details", new { id = item.Id })
            </div>
            <div class="col-sm-2 gameTable ratingCell">
                <p>@Html.DisplayFor(modelItem => item.Rating)/10</p>
            </div>
        </div>
    }
</div>

