@model GameReviewApp.Models.EditUserViewModel
@{
    ViewBag.Title = "Delete Account";
}
<div class="contentContainer">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>@Html.DisplayFor(model => model.UserName)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FavoriteGame)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FavoriteGame)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FavoriteGenre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FavoriteGenre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReviewCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReviewCount)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>